
.orderStatusContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    max-width: 700px;
    /* margin: 2rem auto; */
    background-color: white;
    /* border: 2px solid red; */
    padding: 20px 0;

    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    font-family: var(--primary-font);

    width: 55%;
  }
  
  .orderStep {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
    position: relative;
  }
  
  .orderIcon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    transition: all 0.3s ease;
    color: #ccc;
border-radius: 50%;
    z-index: 2;
  }

  .orderCenter {
    position: absolute;
    top: 18%;
    left: 47%;
 
    flex: 1;
    display: flex;
    justify-content: center;
    width: 10px;
    height: 10px;
    /* background-color: red; */
    border-radius: 50%;
  }
  
  .orderLabel {
    font-size: 0.9rem;
    font-weight: 600;
    color: #aaa;
  }
  
  .orderIcon.active,
  .orderLabel.active {
    color: limegreen; /* Green */
  }
  
  .orderIcon.current,
  .orderLabel.current {
    color:  limegreen; /* Blue */
  }
  
  .orderLine {
    position: absolute;
    top: 15px;
    /* left: 50%; */
    width: 100%;
    height: 4px;
    background-color: #ddd;
    /* z-index: -1; */
    transform: translateX(50%);

    /* border: 2px solid red; */

  }
  
  .orderLine.fill {
    background-color: limegreen;
  }

  .pulse {
    animation: pulse-animation 2s infinite;
  }
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(50, 205, 50, 0.7);
    }
    100% {
      box-shadow: 0 0 0 21px rgba(50, 205, 50, 0);
    }
  }
  

  @media (max-width: 780px) {

    
    .orderStatusContainer {
  
        width: 100%; 
  
     }
    }  