



.main {
  margin-bottom: 100px;
}


.page {
  
}

/* @media (prefers-color-scheme: dark) {
 
} */




.groupSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 0px 6vw;
}

.buttonNotActive {
  font-family: var(--primary-font);
  font-size: var(--p-font);
  font-weight: 600;
  color: var(--secondary-color);
  background-color: unset;
  cursor: pointer;
  width: 25%;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 4px 0;

  transition: 300ms ease-in-out;
}

.buttonNotActive:hover {

  border-bottom: 2px solid var(--primary-color);

}

.buttonActive {
  border-bottom: 2px solid var(--primary-color);
  background: var(--primary-color);
  color: white;

  font-family: var(--primary-font);
  font-size: var(--p-font);
  font-weight: 600;
  /* color: var(--secondary-color); */
  /* background-color: unset; */
  cursor: pointer;
  width: 25%;
  border: none;
  /* border-bottom: 2px solid transparent; */
  transition: 300ms ease-in-out;

  padding: 4px 0;
}

.banner {
  height: 400px;
  width: 100%;
  background: url('../public/images/bgpattern4.png'), var(--secondary-color);
  background-size: contain;
  background-repeat: repeat;
  margin: 200px 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.bannerImg {
  max-width: 40%;
  /* height: 400px; */
  margin-top: -80px;
  /* position: relative; */
  object-fit: contain;
  /* opacity: 0.8; */
  /* border: 2px solid red; */
  /* position: static; */
}

.bannerImg img {
  width: 150%;
  /* margin-top: -80px; */
  /* height: 400px; */
  /* object-fit: cover; */
  /* opacity: 1; */
  /* border: 2px solid red; */
}

.bannerText {
  /* border: 1px solid blue; */
  width: 55%;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  justify-content: center;
}

.bannerText h2 {
  font-size: var(--h2-font);
  font-weight: 700;
  /* color: var(--secondary-color); */
  font-family: var(--secondary-font);
  /* margin: 1.5rem; */
  border: 1px solid blue;

}

.bannerText p {
  font-size: var(--card-h-font);
  /* color: var(--foreground); */
  color: white;
  font-family: var(--primary-font);
  /* margin: 1.5rem; */
}

.bannerButton {
  background-color: var(--primary-color);
  color: white;
  /* border: 1px solid transparent; */
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-family: var(--primary-font);
  cursor: pointer;
  border-radius: 20px;
  width: fit-content;
  /* margin: 10px 6vw; */
  transition: 600ms ease-in-out;

  /* transition: background-color 0.3s ease; */
}

.bannerButton:hover {
  box-shadow:  1px 1px 5px 1px var(--primary-color);
  scale: 1.05;
}

@media (max-width: 700px) {
 

  .banner {

    background: url('../public/images/bgpattern4.png'), var(--primary-color);
    flex-direction: column ;
    margin: 150px 0;
    /* align-content: center; */
  }

  .bannerImg {
    max-width: 300px;
    /* height: 400px; */
    margin: 0 auto;
    margin-top: -140px;
    /* position: relative; */
    object-fit: contain;
    /* opacity: 0.8; */
    /* border: 2px solid red; */
  }

  .bannerText {
    /* border: 1px solid blue; */
    width: 100%;
    text-align: center;
    /* color: var(--secondary-color); */
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 20px; */
    /* padding: 25px; */
    /* justify-content: center; */
  }
  
  .bannerText h2 {
    /* font-size: var(--h2-font); */
    /* font-weight: 700; */
    color: var(--secondary-color);
    /* font-family: var(--secondary-font); */
    /* margin: 1.5rem; */
  }
  
  .bannerText p {
    /* font-size: var(--card-h-font); */
    /* color: var(--foreground); */
    /* color: white; */
    /* font-family: var(--primary-font); */
    /* margin: 1.5rem; */
  }
  
  .bannerButton {
    background-color: var(--secondary-color);
    /* color: white; */
    /* border: 1px solid transparent; */
    /* padding: 0.5rem 1.5rem; */
    /* font-size: 1rem; */
    /* font-family: var(--primary-font); */
    /* cursor: pointer; */
    /* border-radius: 20px; */
    /* width: fit-content; */
    margin: 0 auto;
    /* transition: 600ms ease-in-out; */
  
    /* transition: background-color 0.3s ease; */
  }

  }